@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    color: #fff;

  }

  .container-1{

    background: #0d1323;

  }

  .two{
    background-color: #1c204a;
    border-top: 30px  solid  #f08862;
    border-radius: 1rem;
  }